body {
  background-color: gray;
  font-family: 'Lato', sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.map-container {
  width: 898px;
  height: 815px;
  padding: 10px;
  border: 2px solid black;
}

.map {
  position: relative;
}

.output {
  margin-top: 20px;
  width: 898px;
  padding: 10px;
  border: 2px solid black;
}

.click-area {
  position: absolute;
}

.click-region {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  background-color: red;
  cursor: pointer;
}

.person-popup {
  background-color: white;
  padding: 5px;
  z-index: 2;
  position: absolute;
  top: 20px;
  left: 0;
  display: none;
  border: 1px solid #cccbcb;
  min-width: 200px;
}

.person-popup-contents {
  display: flex;
}

.person-popup .photo {
  width: 65px;
  height: 65px;
  flex: 0 1 65px;
}

.person-popup .details {
  padding-left: 5px;
}

.person-popup .name {
  font-size: 15px;
  font-weight: bold;
}

.person-popup .info {
  font-size: 12px;
}
